.container {
    background-color:rgb(237, 222, 202);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: 650px;
}

.item {
    background-color:white;
    padding: 10px;
    color: transparent;
    font-size: 0;
    line-height: 0;
}

.potato1 {
    background-color: rgb(210, 234, 255);
    grid-column-start: 1;
    grid-column-end: 3;
}

.potato3 {
    background-color:rgb(188, 245, 171);  
}   

.potato5 {
    background-color:rgb(98, 75, 52);
}

.potato6 {
    background-color:lemonchiffon;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.potato8 {
    background-color:rgb(221, 160, 182);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.potato9 {
    background-color:rgb(143, 198, 215);  
} 
 
.potato10 {
    background-color:rgb(206, 255, 240);
}

.potato11 {
    background-color:rgb(250, 215, 246);
}

.potato12 {
    background-color:rgb(255, 255, 234);
}


