.container {
    background-color:black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: 650px;
}

.item {
    background-color:white;
    padding: 10px;
}

.potato1{
    background-color: skyblue;
    grid-column-start: 1;
    grid-column-end: 3;
}

.potato6{
    background-color:lemonchiffon;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.potato8{
    background-color:plum
}